
/* ----------------------------------------------- */
/* NAVBAR ELEMENTS */
/*.link-user{
  line-height: 3.1;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #212529;
  text-decoration: none;
  padding: 4.5px 8px;
  font-weight: 600;
  font-size: 16px;
}
.link-user:hover{
  /*background-color: white;*/
  color: #ffffff;
  text-decoration: none;
=======
/* ----------------------------------------------- */
/* NAVBAR ELEMENTS */
/*.link-user{
  line-height: 3.1;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #212529;
  text-decoration: none;
  padding: 4.5px 8px;
  font-weight: 600;
  font-size: 16px;
}
.link-user:hover{
  /*background-color: white;*/
  color: #ffffff;
  text-decoration: none;
}*/