<!--?php include("_seguridad.php"); ?-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/" />
    <title>Iniciar sesión</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="fontawesome-web/css/all.css" />
    <!-- Custom styles for this template -->
    <link href="css/estilos-index.css" rel="stylesheet" />
    <link href="css/estilos-commonthings.css" rel="stylesheet" />
  </head>

  <body class="text-center">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" id="navnav">
        <div class="row" id="wrapper">
          <h1 class="text-white">
            <img src="img/lugar.svg" style="height: 2.5rem;" /> Adopta Un
            Foráneo
          </h1>
          <button
            id="boton-expandible"
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse text-left"
            id="navbarSupportedContent"
          >
            <form class="form-inline my-2 my-lg-0" id="login-form">
              <a class="link-sign-in text-white" tabindex="1" href="signup.html"
                >Únete ahora<i class="fas fa-check-circle ml-2"></i
              ></a>
              <a class="link-sign-in text-white" tabindex="1" href="index.html"
                >Volver a la página principal<i class="fas fa-home ml-2"></i
              ></a>
              <a
                class="link-user"
                tabindex="1"
                href="../../../Documentacion/Manual de Usuario/Manual de Usuario Red Social.pdf"
                title="Manual de usuario"
                target="_blank"
                ><i class="fas fa-book-open ml-2 text-white"></i
                ><span class="text-white">Manual de usuario</span></a
              >
            </form>
          </div>
        </div>
      </nav>
    </header>

    <form class="container px-5 py-5 form-signin">
      <img class="mb-4" src="img/lugar.svg" width="72" height="72" />
      <h1 class="h3 mb-3 font-weight-normal titulo-titular">
        ¡Bienvenido a Adopta Un Foráneo!
      </h1>
      <label for="iniciarsesion-email" class="sr-only"
        >Correo electrónico</label
      >
      <div class="mb-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-at"></i></span>
        </div>
        <input
          type="text"
          id="user-name"
          class="form-control"
          placeholder="Nombre de usuario"
          required=""
          maxlength="45"
          autofocus=""
        />
        <div class="invalid-feedback">
          Nombre de usuario no válido.
        </div>
      </div>
      <label for="iniciarsesion-password" class="sr-only">Contraseña</label>
      <div class="mb-4 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user-lock"></i></span>
        </div>
        <input
          type="password"
          id="user-password"
          class="form-control"
          placeholder="Contraseña"
          required=""
          maxlength="45"
        />
        <div class="invalid-feedback">
          Contraseña no válida.
        </div>
      </div>

      <p id="p-vacios" class="alert alert-danger error-p text-white d-none">
        No pueden haber campos vacios
      </p>

      <div class="checkbox mb-3"></div>
      <button
        id="btn-iniciar-sesion"
        class="btn btn-lg btn-login btn-block"
        type="button"
      >
        Iniciar sesión
      </button>
      <hr class="mt-5 mb-4" />
    </form>
    <footer class="mastfoot mt-auto" style="background-color: transparent;">
      <div class="inner">
        <p>
          2020 &middot; Adopta Un Foráneo &copy; &VerticalLine; Ángel Bulnes
          &middot; David Flores &middot; Mario Rodríguez &middot; Rony Rodriguez
          &middot; Walter Rivera
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/controlador.js"></script>
    <script src="js/funciones-validacion.js"></script>
  </body>
</html>
