{% extends 'userhome.html' %}

{% load static %}
{% block extracss %}
    <link href="{% static 'css/estilos-userprofile.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/estilos-mainpost.css' %}" rel="stylesheet"/>
{% endblock extracss %}



{% block main %}
    <div class="container p-4 mt-3">

        {% if request.user.profile.role.description == 'Arrendatario' %}
            <!--SECTOR DE CREAR PUBLICACION SOLO SI ES ARRENDATARIO-->
            <div class="home-section row mt-2 mb-2 " style="position: relative;">
                <div class="offset-lg-10 col-lg-2 offset-md-4 col-md-8 col-sm-12">
                    <a class="btn btn-login" href="{% url 'admin:apartment_apartment_add' %}">
                        Añadir propiedad
                    </a>
                </div>
            </div>
        {% endif %}
        <!--Seccion de Post-->
        <div class="row" style="margin-left: 50px;">
            {% if apartments %}
                {% for apartment in apartments %}
                    <div class="card p-3" style="width: 18rem;margin: 0px 10px 10px 10px;">
                        <!--Seccion de perfil-->
                        <div class="pl-2 home-card-header-friend">
                            {% if apartment.owner.image %}
                                 <img src="{{ apartment.owner.image.url }}"
                                     class="home-card-header-picture img-thumbnail rounded-circle img-fluid"
                                     width="50"/>
                            {% else %}
                                <img src="{% static 'img/profile-profile-pic.jpg' %}"
                                     class="home-card-header-picture img-thumbnail rounded-circle img-fluid"
                                     width="40"/>
                            {% endif %}

                            <span href="userprofile.html?idusuario=10" id="amigoNombre"
                                  style="padding: 10px;">{{ apartment.owner }}</span>

                        </div>
                        <!--fin-->
                        <div class="card-body">
                            <img src="{% static 'img/casa1.jpg' %}" class="card-img-top" alt="...">
                            <div class="mt-2 p-2 text-justify">
                                {{ apartment.description }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-muted" id="amigoHoraPost"><b>Fecha:</b> {{ apartment.publication_date }}
                            </div>
                            <span class="text-muted" id="amigoHoraPost"><b>Ciudad:</b> {{ apartment.city }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="p-5 text-center m-5 ">
                    <h1>No hay propiedades en alquiler todavia, espera que alguien publique una</h1>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock main %}

