{% extends 'userhome.html' %}

{% load static %}
      {% block extracss %}
        <link href="{% static 'css/estilos-userprofile.css'%}" rel="stylesheet" />
        <link href="{% static 'css/estilos-mainpost.css'%}" rel="stylesheet" />
      {% endblock extracss %}



    {% block main %}
    <!--SECTOR DE PUBLICACIONES-->
    <div class="home-section" style="position: relative;">
      <main id="main-profile-post" class="col-lg-6 col-md-10">
        <div class="home-post-div">
          <div class="home-post-div-textarea">
            <textarea
              id="user-postText"
              placeholder="¿QUE DESEAS PUBLICAR?"
              class="form-control"
            ></textarea>
            <input type="file" class="form-control mt-2" id="user-postImg" />
          </div>
          <hr />
          <div class="form-inline contenedor-post-buttons">
            <button
              type="button"
              id="btn-post"
              class="form-control post-button"
            >
              <i class="fas fa-edit mr-2"></i>Publicar
            </button>

            <span style="padding: 10px;">Publicar como : </span>
            <select name="Usuario"   class="form-control post-button" class="fas fa-edit mr-2">
              <option value ="foraneo">Foraneo</option>
              <option value ="Arrendatario">Arrendatario</option>
              </select> 
              
          </div>
        </div>
        <h1 class="titulo-titular">PUBLICACIONES EN GENERAL</h1>

        <hr />
        <!--Primer Post-->
        <div id="divMisPublicaciones">
          <div class="card home-card text-left" id="2550">
            <div class="card-header home-card-header">
              <img
                src="{% static 'img/profile-profile-pic.jpg' %}"
                class="home-card-header-picture img-thumbnail rounded-circle"
              />
              <div class="pl-2 home-card-header-friend">
                <a href="userprofile.html?idusuario=10" id="amigoNombre"
                  >Juan</a
                >
              </div>
              <div class="home-card-header-eliminarpost">
                <button
                  type="button"
                  id="deletePost2550"
                  class="post-button"
                  onclick="borrarPublicacion(10,2550)"
                >
                  <i class="fas fa-trash" style="margin: 2px;"></i>
                </button>
              </div>
            </div>
            <div class="card-body home-card-body pt-0">
              <div class="home-card-body-aliasdate mb-3">
                <span class="text-muted" id="amigoHoraPost"
                  >Fecha de Publicacion 25/2/14</span>
                <p><H4>Alquilo casa en residencial el sauce ,3 dormitorios,2 baños,patio etc,precio:1000 dolares</H4><br><a href="publicacion.com">Ir a Publicacion</a></p>
              </div>
              <div style="text-align: center;">
                <div class="mb-3">
                  <img src="{% static 'img/casa1.jpg'%}" width="500px" />
                </div>

                <div class="mb-3">
                  <img src="{% static 'img/casa2.jpg'%}" width="500px" />
                </div>
              </div>
            </div>

            <div class="card-footer home-card-footer">
              <div class="mr-2 mb-2">
                <span id="amigoNumReacciones2550">Comentar Publicacion</span>
                <span class="text-muted mx-2">·</span
                ><a
                  id="amigoNumComentarios2550"
                  data-toggle="collapse"
                  href="#collapseComentarios2550"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseComentarios2550"
                  >Comentarios 588</a
                >
              </div>
              <textarea
                placeholder="Añadir comentario"
                style="
                  height: 70px !important;
                  overflow: auto !important;
                  resize: none !important;
                "
                class="form-control mb-2"
              ></textarea>
              <div class="form-inline">
                <button
                  type="button"
                  onclick="reaccionarPublicacion(10,2550)"
                  class="form-control post-button post-button-margin-bottom"
                >
                  <i class="fas fa-thumbs-up"></i> Me interesa
                </button>
                <button
                  type="button"
                  onclick="comentarPublicacion(10,2550)"
                  class="form-control post-button post-button-margin-bottom"
                >
                  <i class="fas fa-comment"></i> Comentar
                </button>
              </div>
              <div class="collapse" id="collapseComentarios2550">
                <hr />
              </div>
            </div>
          </div>
        </div>

        <!--Segundo Post-->
        <div id="divMisPublicaciones">
          <div class="card home-card text-left" id="2550">
            <div class="card-header home-card-header">
              <img
                src="{% static 'img/mona.jpg'%}"
                class="home-card-header-picture img-thumbnail rounded-circle"
              />
              <div class="pl-2 home-card-header-friend">
                <a href="userprofile.html?idusuario=10" id="amigoNombre"
                  >JOSE FIGUEROA</a
                >
              </div>
              <div class="home-card-header-eliminarpost">
                <button
                  type="button"
                  id="deletePost2550"
                  class="post-button"
                  onclick="borrarPublicacion(10,2550)"
                >
                  <i class="fas fa-trash" style="margin: 2px;"></i>
                </button>
              </div>
            </div>
            <div class="card-body home-card-body pt-0">
              <div class="home-card-body-aliasdate mb-3">
                <span class="text-muted" id="amigoHoraPost"
                  >Fecha de Publicacion 25/2/14</span>
                <p><H4>Busco apartamento que incluya servicios publicos,cable e internet,en zona residencial,presupuesto:5000 lempiras,celular:94856542</H4><br></p>
              </div>
              
            </div>

            <div class="card-footer home-card-footer">
              <div class="mr-2 mb-2">
                <span id="amigoNumReacciones2550">Comentar Publicacion</span>
                <span class="text-muted mx-2">·</span
                ><a
                  id="amigoNumComentarios2550"
                  data-toggle="collapse"
                  href="#collapseComentarios2550"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseComentarios2550"
                  >Comentarios 588</a
                >
              </div>
              <textarea
                placeholder="Añadir comentario"
                style="
                  height: 70px !important;
                  overflow: auto !important;
                  resize: none !important;
                "
                class="form-control mb-2"
              ></textarea>
              <div class="form-inline">
                <button
                  type="button"
                  onclick="reaccionarPublicacion(10,2550)"
                  class="form-control post-button post-button-margin-bottom"
                >
                  <i class="fas fa-thumbs-up"></i> Me interesa
                </button>
                <button
                  type="button"
                  onclick="comentarPublicacion(10,2550)"
                  class="form-control post-button post-button-margin-bottom"
                >
                  <i class="fas fa-comment"></i> Comentar
                </button>
              </div>
              <div class="collapse" id="collapseComentarios2550">
                <hr />
              </div>
            </div>
          </div>
        </div>
        <!--Tercer Post-->
        <div id="divMisPublicaciones">
          <div class="card home-card text-left" id="2550">
            <div class="card-header home-card-header">
              <img
                src="{% static 'img/perfil.jpg'%}"
                class="home-card-header-picture img-thumbnail rounded-circle"
              />
              <div class="pl-2 home-card-header-friend">
                <a href="userprofile.html?idusuario=10" id="amigoNombre"
                  >ROBERTO CASTRO</a
                >
              </div>
              <div class="home-card-header-eliminarpost">
                <button
                  type="button"
                  id="deletePost2550"
                  class="post-button"
                  onclick="borrarPublicacion(10,2550)"
                >
                  <i class="fas fa-trash" style="margin: 2px;"></i>
                </button>
              </div>
            </div>
            <div class="card-body home-card-body pt-0">
              <div class="home-card-body-aliasdate mb-3">
                <span class="text-muted" id="amigoHoraPost"
                  >Fecha de Publicacion 25/2/14</span>
                <p><H4>Busco compartir casa en col.kennedy,mi presupuesto es:2000 lempiras,llamadas o whatsapp:88854742</H4><br></p>
              </div>
              
            </div>

            <div class="card-footer home-card-footer">
              <div class="mr-2 mb-2">
                <span id="amigoNumReacciones2550">Comentar Publicacion</span>
                <span class="text-muted mx-2">·</span
                ><a
                  id="amigoNumComentarios2550"
                  data-toggle="collapse"
                  href="#collapseComentarios2550"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseComentarios2550"
                  >Comentarios 588</a
                >
              </div>
              <textarea
                placeholder="Añadir comentario"
                style="
                  height: 70px !important;
                  overflow: auto !important;
                  resize: none !important;
                "
                class="form-control mb-2"
              ></textarea>
              <div class="form-inline">
                <button
                  type="button"
                  onclick="reaccionarPublicacion(10,2550)"
                  class="form-control post-button post-button-margin-bottom"
                >
                  <i class="fas fa-thumbs-up"></i> Me interesa
                </button>
                <button
                  type="button"
                  onclick="comentarPublicacion(10,2550)"
                  class="form-control post-button post-button-margin-bottom"
                >
                  <i class="fas fa-comment"></i> Comentar
                </button>
              </div>
              <div class="collapse" id="collapseComentarios2550">
                <hr />
              </div>
            </div>
          </div>
        </div>

      </main>
    </div>
{% endblock main %}


{% block extrajs %}

{% endblock extrajs %}

