<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/">
    <title>¡Regístrate!</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="fontawesome-web/css/all.css">
    <!-- Custom styles for this template -->
    <link href="css/estilos-commonthings.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <header>
      <nav class="navbar navbar-expand-lg navbar-light" id="navnav">
          <div class="row" id="wrapper">
              <h1 class="text-white"><img src="img/lugar.svg" style="height: 2.5rem"> Adopta Un Foráneo</h1>
              <button id="boton-expandible" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <form class="form-inline my-2 my-lg-0" id="login-form">
                    <a class="link-sign-in text-white" tabindex="1" href="login.html">Iniciar Sesión<i class="fas fa-sign-in-alt ml-2"></i></a>
                    <a class="link-sign-in text-white" tabindex="1" href="index.html">Página Principal<i class="fas fa-home ml-2"></i></a>
                    <!-- <a class="link-user text-white" tabindex="1" href="#" title="Manual de usuario" target="_blank"><i class="fas fa-book-open ml-2"></i><span>Manual de usuario</span></a> -->
                  </form>
              </div>
          </div>
      </nav>
    </header>

    <div class="container py-5">
      <div class="text-center py-1">
        <img class="d-block mx-auto mb-4" src="img/lugar.svg" width="72" height="72">
        <h2 class="titulo-titular">Formulario de registro</h2>
        <p class="lead" style="text-align: justify; font-weight: 400">¡Gracias por elegir Adopta Un Foráneo como tu plataforma de alojamiento! Esperamos estés listo para encontrar una propiedad en alquiler a tu gusto o publicar acerca de tu propiedad para que otros puedan contactarse contigo y cierren un trato. Antes debes por favor proporcionar tus datos para completar la etapa de registro. Los campos marcados con <span style="color:orangered; font-weight:700" !important>*</span> son obligatorios.</p>
      </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          <h4 class="mb-3">Ingresa tus datos:</h4>
          <form class="needs-validation" novalidate="">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="signup-primerNombre">Primer nombre <span style="color:orangered; font-weight:700">*</span></label>
                <input id="primer-nombre" type="text" class="form-control" id="signup-primerNombre" placeholder="" value="" required="" maxlength="45">
                <div class="invalid-feedback">
                  Se requiere un primer nombre.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="signup-primerApellido">Primer apellido <span style="color:orangered; font-weight:700">*</span></label>
                <input id="primer-apellido" type="text" class="form-control" id="signup-primerApellido" placeholder="" value="" required="" maxlength="45">
                <div class="invalid-feedback">
                  Se requiere un primer apellido.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="signup-gender">Elige tu Género <span style="color:orangered; font-weight:700">*</span></label>
                <select class="custom-select form-control d-block w-100" id="signup-gender" required="">
                  <option value="0">Género</option>
                  <option value="1">Femenino</option>
                  <option value="2">Masculino</option>
                  <option value="3">No Definido</option>
                  <option value="4">Lesbiana</option>
                  <option value="5">Gay</option>
                  <option value="6">Transexual</option>
                  <option value="7">Travesti</option>
                  <option value="8">Bisexual</option>
                  <option value="9">Pansexual</option>
                  <option value="10">Otro</option>
                  </div>
                </select>
                <div class="invalid-feedback">
                  Por favor elige un género.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="signup-rol">Elige el Tipo de Usuario <span style="color:orangered; font-weight:700">*</span></label>
                <select class="custom-select form-control d-block w-100" id="signup-rol" required="">
                  <option value="0">Tipo de Usuario</option>
                  <option value="1">Foráneo</option>
                  <option value="2">Arrendatario</option>
                  </div>
                </select>
                <div class="invalid-feedback">
                  Por favor elige un rol.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="signup-email">Correo electrónico <span style="color:orangered; font-weight:700">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-at"></i></span>
                </div>
                <input type="email" class="form-control" id="signup-email" onkeyup="validarEmail(this.value)" placeholder="ejemplo@hotmail.com" required="" maxlength="45">
              </div>
            </div>

            <div class="mb-3">
              <label for="signup-phone">Teléfono <span style="color:orangered; font-weight:700">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>
                <input type="phone" class="form-control" id="signup-phone" placeholder="99887766" required="" maxlength="45">
                <div class="invalid-feedback">
                  Ingresa un número de teléfono válido.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="signup-birthday">Fecha de cumpleaños <span style="color:orangered; font-weight:700">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
                </div>
                <input type="date" class="form-control" id="signup-birthday" required="">
                <div class="invalid-feedback">
                  Ingresa una fecha de cumpleaños válida.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="signup-id-number">Número de identidad <span style="color:orangered; font-weight:700">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                </div>
                <input type="number" class="form-control" id="signup-id-number" required="">
                <div class="invalid-feedback">
                  Ingresa un número de identidad válido.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="signup-username">Nombre de usuario <span style="color:orangered; font-weight:700">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" id="signup-username" required="">
                <div class="invalid-feedback">
                  Ingresa un nombre de usuario válido.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="signup-password1">Contraseña  <span style="color:orangered; font-weight:700">*</span> <span class="text-muted">(Debe tener al menos 4 caracteres)</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user-lock"></i></span>
                </div>
                <input type="password" class="form-control" id="signup-password1" required="" maxlength="45">
                <div class="invalid-feedback">
                  Por favor ingresa una contraseña válida.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="signup-password2">Repite tu contraseña <span style="color:orangered; font-weight:700">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user-lock"></i></span>
                </div>
                <input type="password" class="form-control" id="signup-password2" required="" maxlength="45">
                <div class="invalid-feedback">
                  La contraseña no coincide, intenta de nuevo.
                </div>
              </div>
            </div>

            <p id="contras-distintas" class="alert alert-danger error-p text-white d-none">
              Las Contraseñas no coinciden
            </p>

            <p id="p-vacios" class="alert alert-danger error-p text-white d-none">
              No pueden haber campos vacios
            </p>

            <hr class="my-4">
            <button id="btn-registrarse" class="btn btn-login btn-lg btn-block" type="button">Registrarse</button>
          </form>
          <hr class="mt-5 mb-0">
        </div>
      </div>
    </div>
    <footer class="text-center mastfoot mt-auto">
      <div class="inner text-white">
        <p>2020 &middot; Splash &copy; &VerticalLine; Ángel Bulnes &middot; David Flores &middot; Mario Rodríguez &middot; Rony Barahona &middot; Walter Rivera</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.min.js"></script>
    <script src="js/controlador.js"></script>
    <script src="js/funciones-validacion.js"></script>
  </body>
</html>